header {
    display: flex;
    flex-direction: row;
    background-color: #7c5e99;    
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border-bottom: 5px solid #27ae60;
}

img {
     width: 50px;
     padding: 10px;
}

i#burger {
    color: #fff;
    padding: 10px;
}

i#burger:hover {
    color: #27ae60;
    cursor: pointer;
}

#itens {
    display: none;
    flex-direction: column;
}

menu li a {    
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: "Fira Code",Arial, Helvetica, sans-serif;
    font-size: 15px;
}

li:hover {
     text-shadow: 10px 10px 7px #2c3e50;
     transform: scale(1.05);
}