header {
    background-color: #7c5e99;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid #27ae60;
}

#logo {
    padding-bottom: 20px;
}
 
#logo img {
     width: 200px;
}
 
#menu a {
     padding: 20px;
     text-decoration: none;
     color: white;
     font-family: "Fira Code",Arial, Helvetica, sans-serif;
     font-size: 20px;
}
 
a:hover {
     text-shadow: 10px 10px 7px #2c3e50;
     transform: scale(1.05);
}