#logo {
    width: 60px;
    height: 60px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #7c5e99;
    border-bottom: 10px solid black;
    padding: 10px 20px;
    align-items: center;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: transform 200ms linear;
}

a::before {
    content: "";
    background-color: #27ae60;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

a:hover {
    text-shadow: 10px 10px 7px #2c3e50;
    transform: scale(1.05);
}

#button {
    background-color: #27ae60;
    padding: 20px;
    box-shadow: 5px 5px 0px #000;
    display: inline-block;
    transition: transform 200ms linear;
}

#button:hover {
    background-color: #2ecc71;
    text-shadow: 5px 5px 0px #27ae60;
    transform: scale(1.08);
    
}