#logo {
    width: 60px;
    height: 60px;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #7c5e99;
    border-bottom: 10px solid black;
    padding: 10px 20px;
    align-items: center;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: transform 200ms linear;
}

a::before {
    content: "";
    background-color: #27ae60;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

a:hover {
    text-shadow: 10px 10px 7px #2c3e50;
    transform: scale(1.05);
}

.button {
    background-color: #27ae60;
    padding: 20px;
    box-shadow: 5px 5px 0px #000;
    display: inline-block;
    transition: transform 200ms linear;
}

#button:hover {
    background-color: #2ecc71;
    text-shadow: 5px 5px 0px #27ae60;
    transform: scale(1.08);
    
}

#info{
    display: flex;
    background-image: url("/assets/background_home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    padding: 40px;
    border-bottom: 10px solid black;
    height: 990px;
}

#info img{
    width: 600px;
    height: 800px;
    margin: auto;
    border-radius: 2%;
}

#info_2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;

}

#quadro {
    background-color: #2c3e50;
    width: 700px;
    height: 120px;
    color: #ffffff;
    padding: 20px;  
    box-shadow: 5px 5px 0px #000;
    text-align: left;
    display: inline-block;
    margin-top: -100px;
    margin-bottom: 50px;
}

h1{
    font-family: "Press Start 2P",Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: black;
    text-shadow: 5px 5px 0px #27ae60;
    padding: 10px;

}

p {
    font-family: "Press Start 2P",Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
}

#buttons{
    display: flex;
    flex-direction: row;
}
#buttons a {
    align-content: space-between;
    width: 200px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px
}

#skills {
    display: flex;
    flex-direction: column;
    height: 990px;
    background-color: #27ae60;
    text-shadow: 5px 5px white;
    text-align: center;
    border-bottom: 10px solid #7c5e99;
}

#skills h1 {
    text-shadow: 2px 2px white;
    padding: 20px;
 }

 #itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: auto;        
 }

 .box1 {
    display: inline-flex;
    margin-bottom: 40px;
    align-items: center;
 }

 .box1 img {
    width: 100px;
    image-rendering: pixelated;
    position: absolute;
    margin-left: -15px;
 }

.box_level {
    text-shadow: 3px 3px black;
    border: 5px solid black;
    width: 400px;
    
}

.box_level p {
    background-color: #7c5e99;    
}

#load p {
    background-color: #fff;
    color: #000;
    text-shadow: none;
}

#iten1 {
    display: flex;
}