@media (min-width: 310px) and (max-width: 768px) {
    #body {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
    }

    #logo img {
        width: 150px;
   }

    #menu  {
        flex-direction: column;
        line-height: 3;
    }

    #menu a {
        display: flex;
        padding: 5px;
        flex-direction: column;
        margin-right: 15px;
    }

    #sobre {
        flex-direction: column;
    }

    #foto {
        padding: 15px;
    }

    #foto img {
        width: 150px;
        height: 200px;
    }

    #nome {
        margin: 10px;
        box-shadow: 5px 5px #27ae60;
    }

    .box_logo_1 {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        margin-bottom: 40px;
        align-items: center;
    }    
}