#skills {
    display: flex;
    flex-direction: column;
    background-color: #27ae60;
    text-shadow: 5px 5px 0px white;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid #7c5e99;
}

#skills h1 {

    text-shadow: 5px 5px 0px black;
    padding: 10px;
    font-size: 20px;
}

#itens_sk {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.item {
    align-items: center;
    margin:  10px 20px;
}

.box_logo_1 {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    size-adjust: -150%;
}

.box_logo_1 img {
    width: 50px;
    image-rendering: pixelated;
    position: absolute;
    margin-left: -15px;
}

.box_level {
    font-family: "Press Start 2p", Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 3px 3px black;
    border: 5px solid black;
    min-width: 200px;
}

.box_level p {
    background-color: #7c5e99;
    padding: 10px 0px;
}

#load p {
    background-color: #fff;
    color: #000;
    text-shadow: none;
}

#itens_sk h2 {
    margin: 10px;
}


